.login-div{
    background-color: #FFFFFF;
    height: 400px;
    width:80%;
    position: absolute;
    border-radius: 5px;
}
.social-img{
    width:25px;
}
.social-btn{
    margin-top:100px;
    width:90% !important;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 57px;
    cursor: pointer;
}
.login-btn{
    margin-top:100px;
}
.border{
    border:1px solid gray !important;
}
.logo{
    height: 47px;
}
.text-margin{
    margin-left: 28%;
}